# Ignore configuration files that may contain sensitive information.
sites/*/*settings*.php

cache/
sites/*/private

nbproject/
/sites/default/files/
/sites/default/
/error_log

# Ignore .htaccess, so subdomain-specific edits aren't killed.
.htaccess
