/**
 * Styles for the cyco_wiki theme.
 */

body {
  padding: 0 1em 0 1em;
}

nav[role=navigation] #block-system-user-menu {
  float: right;
}

nav[role=navigation] #block-system-user-menu ul {
  list-style: none;
}

nav[role=navigation] #block-system-user-menu ul li {
  display: inline-block;
}

h2.block-title {
  margin-top: 0;
  font-size: 150%;
}

header .navbar-header a.name {
  font-size: 240%;
}

h1.page-header {
  font-size: 220%;
}

nav ul.nav {
  margin-left: 15px;
}

nav ul.nav li a {
  font-size: 120%;
  border-left: 2px solid rgba(205, 205, 205, 0.25);
  border-right: 1px solid rgba(80, 80, 80, 0.15);
}

header.navbar .container-fluid {
  padding-left: 5px;
}

.field-type-taxonomy-term-reference {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

footer.footer {
  padding: 1.5em 0 0 0;
  margin-top: 1em;
  width: 100%;
}

footer.region-footer .block-menu {
  margin-bottom: 1em;
}

footer ul.nav li {
  display: inline-block;
}

.view-keywords .views-field-description,
.view-workflow-tags .views-field-description {
  margin-left: 2em;
}

.view-keywords .view-header,
.view-workflow-tags .view-header {
  margin-bottom: 1.5em;    
}

.view-keywords .views-row,
.view-workflow-tags .views-row {
  margin-bottom: 1em;
}

/*
* Headers. The document class comes from docutils. 
*/

.swim  h1 {
  font-size: 190%;
}

.swim  h2 {
  font-size: 150%;
}

.swim  h3 {
  font-size: 100%;
  font-weight: bold;
  font-style: italic;
}

.swim  h4 {
  font-size: 100%;
  font-style: italic;
}

.swim  h5 {
  font-size: 80%;
  font-weight: bold;
  font-style: italic;  
}

.swim  h6 {
  font-size: 80%;
  font-style: italic;
}

.field {
  margin-top: 1em;
}

.swim  img {
  margin-bottom: 1em;
  max-width: 100%;
}

.view-recent-changes .views-field ul {
  list-style: none;
  padding-left: 0;
}

.view-news .view-content .views-field-title {
  font-size: 120%;
}

.view-news .view-content .views-field-created {
  margin-left: 1em;
  font-size: 90%;
  font-style: italic;
}

.view-news .view-content .views-field-field-body {
  margin-top: 0.5em;
  margin-left: 1em;
}

.view-news .view-content .views-row {
  margin-bottom: 10px;
}

footer.region-footer {
  padding-top: 1.5em;
  padding-bottom: 0;
  margin-top: 0;
  width: 100%;
}

footer.region-footer .block-menu {
  margin-bottom: 1em;
}

footer ul.nav li {
  display: inline-block;
}
