/**
 * Styles for the cyco_wiki theme.
 */

body {
  padding: 0 1em 0 1em;
}

nav[role=navigation] #block-system-user-menu {
  float: right;
}

nav[role=navigation] #block-system-user-menu ul {
  list-style: none;
}

nav[role=navigation] #block-system-user-menu ul li {
  display: inline-block;
}

h2.block-title {
  margin-top: 0;
  font-size: 150%;
}

h1.page-header {
  font-size: 200%;
}

header .navbar-header a.name {
  font-size: 240%;
}

nav ul.nav {
  margin-left: 15px;
}

nav ul.nav li a {
  font-size: 120%;
  border-left: 2px solid rgba(205, 205, 205, 0.25);
  border-right: 1px solid rgba(80, 80, 80, 0.15);
}

header.navbar .container-fluid {
  padding-left: 5px;
}

.field-type-taxonomy-term-reference {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

footer.footer {
  padding: 1.5em 0 0 0;
  margin-top: 1em;
  width: 100%;
}

footer.region-footer .block-menu {
  margin-bottom: 1em;
}

footer ul.nav li {
  display: inline-block;
}

.view-keywords .views-field-description {
  margin-left: 2em;
}

.view-keywords .view-header {
  margin-bottom: 2em;    
}

.view-keywords .views-row {
  margin-bottom: 1em;
}