/*
This is for custom styles the user wants to use in authoring SWIM content.
*/
/* 
    Created on : Sep 21, 2014, 12:49:37 PM
    Author     : mathieso
*/

.swim .border {
  border: 1px solid #777;
}

.swim .padding {
  padding: 5px;
}

.swim .right {
  float: right;
}

.swim .left {
  float: left;
}

.swim .attention {
  padding: 1em;
  font-size: 120%;
  border-radius: 1em;
  background-color: #F8F8F8;
  box-shadow: 0 0 10px #888;
}

.swim .note {
  display: inline-block;
  font-size: 90%;
  background-color: #ffffcc;
  margin-left: 4em;
  padding: 1em;
  box-shadow: 3px 3px 5px #aaa;  
}