/*
* @file
* Styles for Show-What-I-Mean.
*/

@import url("swim_editing.css");

code {
  color: inherit !important;
  background-color: inherit !important;
  font-size: inherit !important;
}

.swim img {
  max-width: 100%;
}

.swim-plugin-error {
  font-weight: bold;
  font-size: 120%;
  color: red;
}