/*
* @file
* Styles for Show-What-I-Mean.
*/

@import url("swim_editing.css");
@import url("rest/html4css1.css");
@import url("rest/math.css");
@import url("swim_rest_classes.css");

/* reStructText warnings. */
.swim .system-message {
  border: 0.2em red dotted;
  margin-top: 1em;
  padding: 0.2em;
}
