/*
For the CyCo add/create page links module.
*/

#cacpl-create-widget-location {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em;
  background-color: #F8F8F8;
}

.cyco-add-pages-reminder {
  font-size: 120%;
  margin-bottom: 1em;
}