/* 
Classes to use with the figure and other directives.
*/

/* Images are normally in their own block... */
.swim img {
  display: block;
}

/* ... unless they have the inline class. */
.swim img.inline {
  display: inline;
}

/*
Override standard ReST stylesheet.
*/

.swim h1.title {
  text-align: left;
}

.swim div.figure img, 
.swim div.image img {
  margin-bottom: 2em;
}

.swim div.figure img.bordered,
.swim div.image img.bordered {
  padding: 1em;
  border: 1px solid #444;
}

/*
For the sidebar directive.
*/
.swim div.sidebar {
  border: 1px #F0F0F0 solid;
  background-color: #F9F9F9; 
  border-radius: 8px;
  margin: 2em;
  padding: 1em;
  float: right;
  max-width: 15em;
}

.swim div.sidebar img {
  margin-top: 1em;
  margin-bottom: 1em;
}

@media (max-width: 767px) {
  /* Sidebar is inline. */
  .swim div.sidebar  {
    float: none;
    margin: 1em 0 1em 0;
    background-color: inherit;
  }
  
  .swim div.sidebar img {
    margin-left: 0;
  }

}

