/*
Customizations for presentation.
*/
/* 
    Created on : Jul 26, 2014, 5:42:05 PM
    Author     : mathieso
*/
.reveal section p {
  text-align: left;
  font-size: 150%;
}

.reveal section p.right {
  text-align: right;
}

div#arrow-pointer {
  font-size: 90%;
  color: yellow;
  right: 10px;
  position: absolute;
  font-family: Lato, sans-serif;
}

#custom-controls {
  bottom: 0;
  right: 0;
  position: absolute;
  display: none;
}

.reveal section.smaller-text p {
  font-size: 120%;
}