/*
Styles for collapse_summary module.
*/
.collapse-summary-indicator {
  display: inline-block;
  margin-left: 2em;
  font-size: 80%;
  font-weight: normal;
}

.swim-summary-wrapper-label {
  cursor: pointer;
}

.swim-summary-wrapper {
  margin-bottom: 1em;
}